*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.count{
    text-align: center;

}

.buttons{
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

button{
    padding: 15px;
    background-color: rgb(12, 160, 12);
    border: none;
    border-radius: 5px;
}

input{
    padding: 10px 0 10px 10px;
    font-size: 2rem;
    border-radius: 10px;
    border: 1px solid;
}